{% extends "rest_framework/base.html" %}

{% block title %} Libtech Coin API Back {% endblock %}  

{% block branding %}
    <span>
        <a href="{% url 'app:index' %}" rel="nofollow" class="navbar-brand">
            Back To Home
        </a>
        <a href="{% url 'app:coin-list' %}" rel="nofollow" class="navbar-brand">
            Get All Coins
        </a>
    
        <a href="{% url 'app:register-user' %}" rel="nofollow" class="navbar-brand">
            Register User
        </a>
        <a href="{% url 'app:add-favourite' %}" rel="nofollow" class="navbar-brand">
            Add Favourite Coin
        </a>
        <a href="{% url 'app:view-favourites' %}" rel="nofollow" class="navbar-brand">
            View Favourites Coins
        </a>
    </span>

{% endblock %}  