[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<4.0.2,>=3.0"
djangorestframework = "==3.13.1"

[dev-packages]

[requires]
python_version = "3.8"
